language: ruby
rvm:
- 2.2.5
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
sudo: false
branches:
  only:
  - master
install:
- bundle install
script:
- bundle exec jekyll build
- timeout 5m bundle exec htmlproofer ./_site --check-html --check-favicon --allow-hash-href
  --external_only --only-4xx --http-status-ignore 429
after_success: s3_website push
notifications:
  slack:
    rooms:
      - secure: EcArSXLJOkOUSLaJrTcQmV59XEsHjUMmfKUq1bJYI5Drp4ZFJBcnRhxaDbd9qkl8X2SCzRaNU1WqdwjaCuda8X385MlGyhD4rSFdL4ggKWhLZQs5Z33U5twvtS/6wL+rrrE8K3fM0Ab0pzK9zSKyIl3ZypfxoPsPEwY6hYNzbKrCsz374T7pAtRfUXNba/pi836+2XEQTaL5UsKaRC/lLO4QLcEqH0dvab4S3TW5Idfas0lrvENJMnlrndAwvQnqLVFf6BuWyoTuGpYs+tOmtEESaEFrDe/pGj1+Pfut7K4NQkXXRLijeOd6BZTW3gfxCDz6OQgkjQxBRDyaMNpIK1S3hcd3JYIAPRSEsZhLJa2rS7/2w60YrJaNeXy306EhEtG4P6SCEuAVRxLYW+rr6RRctAZU/pUiF771CKoW5g3qdFCicWD66l6lX/r77rf2gUGFYWoYov5iDzZlK1WJ3jWYbE53yY25jqq3YQPES4mCquMAOrG84mg2ebjkjnHgsoHHUg04cjQysjId2POOMIHQBYng20AYcow4pzCUfg8URJrIQBgQZKsNnrQWQniJGZA907PA+OA0H8aOe+5a+n5hhG3KdQ6/DVrt5fELzbWdGtqvPzk758ptOIoAsY7zwnb6suq/S/Rag2Z5UDSPjxGnATEu0a3177LIT6p2q1E=
    on_success: always
