<h2>Affiliated Faculty</h2>

  <ul>
<strong>Anthropology<strong>
  
<li><a href="https://liberalarts.temple.edu/academics/faculty/jhala-jayasinhji">Jhala Jayasinhji</a></li>
  
 <strong>Asian and Middle Eastern Languages and Studies<strong>
   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/fujiwara-yukari">Yukari Fujiwara</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/huang-shuchen-susan">Shuchen (Susan) Huang</a></li> 
 <li><a href="https://liberalarts.temple.edu/academics/faculty/mangione-louis">Louis Mangione</a></li>  
 <li><a href="https://liberalarts.temple.edu/academics/faculty/thornbury-barbara">Barbara Thornbury</a></li>   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/yoshida-reiko">Reiko Yoshida</a></li>  
 <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a></li>
 
 <strong>English<strong>
   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya">Priya Joshi</a></li>   
   
 <strong>Geography and Urban Studies<strong> 
   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/cybriwsky-roman">Roman Cybriwsky</a></li>  
   
 <strong>History<strong> 
   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/lavelle-peter">Peter Lavelle</a></li> 
 <li><a href="https://liberalarts.temple.edu/academics/faculty/nguyen-dieu-t">Dieu T. Nguyen</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/spodek-howard">Howard Spodek</a></li>   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/uno-kathleen">Kathleen Uno</a></li> 
   
 <strong>Political Science<strong>
   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/roselyn-hsueh">Roselyn Hsueh</a></li>
   
 <strong>Religion<strong>
   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/bingenheimer-marcus">Marcus Bingenheimer</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/duckworth-douglas">Douglas Duckworth</a></li>  
 <li><a href="https://liberalarts.temple.edu/academics/faculty/nagatomo-shigenori">Shigenori Nagatomo</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney D. White</a></li>
   
 <strong>Sociology<strong>  
   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/zhang-lu">Lu Zhang</a></li>  
   </ul>
</div>
